@charset "utf-8";
/* Sitewide styles */
@font-face {
    font-family: 'Roman_';
    src: url('font/roman.eot');
    src: url('font/roman.eot?#iefix') format('embedded-opentype'),
         url('font/roman.woff') format('woff'),
         url('font/roman.ttf') format('truetype'),
         url('font/roman.svg#roman') format('svg');
    font-weight: normal;
    font-style: normal;
}
html{
	background:#4d85c5;
	font-family:Roman_;
}
body{ 
	font-family:Roman_;
	color:#292929;
}
.hidden{
	visibility:hidden;
	display:none;
}
ul {
	margin: 25px 0 0 0;
	padding: 0;

}
li{
	list-style:none;
	
}
h1, h2, p{
	margin:0;
	font-family:Roman_;
}
h1{
	padding: 20px 0 0 0;
	font-size:38px;
}
h2{
	padding: 30px 0 0 0;
	font-size:30px; 
}
p.space{
	padding: 30px 0 0 0;
	font-size:22px;
}
#wrapper{
	
	width: 872px;
	margin:0 auto;
}
.center{
	text-align:center;
}

/* main card*/

#main-card {
	margin: 25px auto 0 auto;

}
#main-card-top{
	background:url(img/main-card-top.jpg) no-repeat;
	width:872px;
	height:43px;
}
#content{
	background:url(img/main-card-bg.jpg) repeat-y;
	min-height:100px;
	width:872px;
}
#main-card-bot{
	background:url(img/main-card-bot.jpg) no-repeat;
	width:872px;
	height:43px;
}
/*  navigation */
#nav{
	margin:34px 0;
}
.nav-card h2{margin:0; padding:0;}
.nav-card {
	float: left;
	width: 420px;
	margin: 0;
	padding: 0 32px 0 0;
}
.nav-card-bg{
	background:url(img/nav-card-bg.jpg) repeat-y;
	width:420px;
}
.nav-card-top{
	background:url(img/nav-card-top.jpg) no-repeat;
	width:420px;
	height:43px;
}
.nav-card-bot{
	background:url(img/nav-card-bot.jpg) no-repeat;
	width:420px;
	height:43px;
}